table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.listing{
  max-height: 400px;
    overflow-y: scroll
}
.searchInput {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
}

.App{
  height: 100vh;
    overflow: scroll;
}